*.Po
*.dirstamp
*.egg-info
*.in
*.la
*.lo
*.o
*.pyc
*.so
.deps/
.libs/
/Makefile
aclocal.m4
autom4te.cache/
build
c/adder_example
config.guess
config.h
config.log
config.status
config.sub
configure
cython/cy_adder.c
depcomp
install
install-sh
libadder/Makefile
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
py-compile
stamp-h1
swig/adder.py
swig/adder_wrap.c
test_adder
