*.Po
*.la
*.lo
*.o
*.pyc
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build
c/adder_example
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libadder/.deps/
libadder/.libs/
libadder/Makefile
libadder/Makefile.in
libadder/adder.lo
libadder/libadder.la
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
py-compile
stamp-h1
swig/adder.py
swig/adder_wrap.c
